@use 'sass:map';
@use '../../../styles/abstracts/variables';
@use '../../../styles/abstracts/mixins';

// titleWrap
.titleWrap {
	position: relative;
	@include mixins.justify_width(center);
	flex-wrap: wrap;

	// rightArea
	.rightArea {
		flex-shrink: 0;
		margin-left: auto;
	}

	// mb
	&.zero {
		margin-bottom: 0;
	}
	&.xs {
		margin-bottom: 10px;
	}
	&.sm {
		margin-bottom: 12px;
	}
	&.md {
		margin-bottom: 20px;
	}
	&.lg {
		margin-bottom: 30px;
	}
	&.xl {
		margin-bottom: 40px;
	}

	// gap
	[class*=ctitle],[class*=stitle], [class*=stext] {
		width: 100%;
	}

	/*.ctitle.eng.lg {
		~ .stext, ~ .stextSm, ~ .stextBold {
			margin-top: 12px;
		}
	}

	.ctitle, .ctitle.sm {
		~ .stext, ~ .stextBold {
			margin-top: 12px;
		}

		~ .stextSm {
			margin-top: 6px;
		}
	}

	.ctitle.lg, .ctitle.xl {
		~ .stext, ~ .stextSm, ~ .stextBold {
			margin-top: 14px;
		}
	}*/

	.ctitleSub {
		margin-bottom: 10px;
		color: variables.$textColorG;
		@include mixins.font_size_md('md');
	}

	.ctitleSubLg {
		margin-bottom: 6px;
		@include mixins.font_size_xl;
	}

	.ctitleSubSm {
		margin-bottom: 6px;
		@include mixins.font_size_sm;
		color: variables.$textColorDG;
	}
}