
// 폰트 기본
$fontDefault: 'Pretendard', "SF Pro Display", AppleSDGothicNeo-Light, Helvetica,"Malgun Gothic", 'MalgunGothic', '맑은고딕', sans-serif !important;
$fontEngDefault: "linotype-didot", serif !important;
$letterSpacing: -.001em; // -10

//폰트 굵기 4step
$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightSemibold: 600;

$fontWeightEngBold: 700;


//폰트 레벨
//title
$fontSize5xl: 26px;
$fontSize5xlLineHeight: 37px;

$fontSize4xl: 22px;
$fontSize4xlLineHeight: 32px;

$fontSize3xl: 20px;
$fontSize3xlLineHeight: 30px;

$fontSize2xl: 18px;
$fontSize2xlLineHeight: 27px;

$fontSizeXl: 16px;
$fontSizeXlLineHeight: 25px;

$fontSizeLg: 15px;
$fontSizeLgLineHeight: 24px;


//body
$fontSizeMd: 14px;
$fontSizeMdLineHeight: 21px;

$fontSizeSm: 13px;
$fontSizeSmLineHeight: 18px;

$fontSizeXs: 12px;
$fontSizeXsLineHeight: 16px;

$fontSize2Xs: 11px;
$fontSize2XsLineHeight: 15px;

$fontSize3Xs: 10px;
$fontSize3XsLineHeight: 14px;

$fontSize4Xs: 9px;
$fontSize4XsLineHeight: 13px;

//eng
$fontSizeEngLg: 32px;
$fontSizeEngLgLineHeight: 35px;

$fontSizeEngMd: 28px;
$fontSizeEngMdLineHeight: 31px;

$fontSizeEngSm: 26px;
$fontSizeEngSmLineHeight: 29px;






