// header height
$wrapperMaxWidth : 500px;
$headerMoHeight: 56px;
$headerDesktopHeight: 90px;
$headerTabletHeight: 127px;

// mobile docker height
$gnbHeight: 50px;
$headerHeight: 60px;

// mobile docker height
$dockerHeight: 70px;

// content padding
$contGapXl: 60px;
$contGapLg: 50px;
$contGapMd: 30px;
$contGapSm: 20px;


// 상품 썸네일 사이즈
$thumbRatio1by1Height : 100%;
$thumbRatio3by4Height : 133.3%;
$thumbRatio4by3Height : 75%;