@use 'sass:map';
@use '../../../styles/abstracts/variables';
@use '../../../styles/abstracts/mixins';
// btnWrap
.btnWrap, .btnDividerWrap {
	// size
	&.zero {
		margin-top: 0;
	}
	&.xxs {
		margin-top: 6px;
	}
	&.xs {
		margin-top: 10px;
	}
	&.sm {
		margin-top: 20px;
	}
	&.md {
		margin-top: 30px;
	}
	&.lg {
		margin-top: 60px;
	}
	&.xl {
		margin-top: 70px;
	}
}

.btnWrap {
	@include mixins.justify_width(start, start);

	[class^=_btn], [class*=Btn_] {
		flex: 1;
		width: 100%;
		min-width: auto;

		~ [class^=_btn], ~ [class*=Btn_] {
			margin-left: 5px;
		}

		~ .btnXl {
			margin-left: 6px;
		}
	}

	// align
	&.auto {
		[class^=_btn], [class*=Btn_] {
			flex: none;
			width: auto;
		}
	}
	&.center {
		[class^=_btn], [class*=Btn_] {
			flex: none;
			width: auto;
			&:first-child { margin-left: auto; }
			&:last-child { margin-right: auto; }
		}
	}
	&.right {
		[class^=_btn], [class*=Btn_] {
			flex: none;
			width: auto;
			&:first-child { margin-left: auto; }
		}
	}
	&.full {
		@include mixins.justify_width(center, center, column);
		flex-wrap: wrap;

		[class^=_btn], [class*=Btn_] {
			flex: 1 auto;
			width: 100%;
			min-width: initial;

			~ [class^=_btn], ~ [class*=Btn_] {
				margin: {
					top: 10px;
					left: 0;
				}
			}
		}
	}
	&.between {
		@include mixins.justify_width(center, between);

		[class^=_btn], [class*=Btn_] {
			flex: none;
			width: auto;
		}
	}
}

.btnDividerWrap {
	position: relative;

	button, a {
		position: relative;
		display: block;
		border-top: 10px solid variables.$colorGray06;
	}
}