@use 'sass:map';
@use '../../../styles/abstracts/variables';
@use '../../../styles/abstracts/mixins';

.prodItem {
	position: relative;

	.prodLank {
		color: variables.$colorGreen;
	}

	.infoBox {
		width: 100%;
		.badgeGroup {
			@include mixins.justify_width;
			flex-wrap: wrap;
			gap: 4px 6px;

			&:first-child {
				margin-bottom: 4px;
			}
		}
		.prodInfo {
			width: 100%;
			margin-bottom: 2px;

			.brand {
				@include mixins.font_size_md('sb');
				@include mixins.ellipsis;
			}
			.uid {
				@include mixins.font_size_md;
				color: variables.$textColorDG;
			}
		}
		.sizeInfo {
			margin-top: 4px;
			@include mixins.font_size_sm('md');
		}
		.prodPrice {
			@include mixins.justify_width(center);
			@include mixins.font_size_md('sb');
			flex-wrap: wrap;
			word-break: break-all;
			.origin {
				width: 100%;
			}
			.percent {
				@include mixins.font_size_md('sb');
				color: variables.$textColorGold;
			}
		}

		.badgeGroup {
			&:not(:first-child) {
				margin-top: 12px;
				gap: 3px;
			}
		}
	}

	&.row {
		@include mixins.justify_width;

		.prodLank {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			@include mixins.font_eng_size_xs;
		}

		&:has(.prodLank) {
			> div:not(.prodLank) {
				margin-top: 39px;
			}
		}

		.infoBox {
			position: relative;
			margin-left: 16px;

			.prodInfo {
				@include mixins.justify_width;
				gap: 4px;

				.brand {
					width: auto;
				}

				.uid {
					margin-bottom: 0;
				}
			}

			.title {
				@include mixins.font_size_sm;
				@include mixins.multi_ellipsis(variables.$fontSizeSmLineHeight);
			}

			.prodPrice {
				gap: 4px 6px;
				margin-top: 4px;
			}

			.badgeGroup {
				&:not(:first-child) {
					margin-top: 12px;
					gap: 3px;
				}
			}
		}
	}
	&.col {
		width: 100%;

		.prodLank {
			@include mixins.font_eng_size_lg;
			margin-bottom: 10px;
		}

		.infoBox {
			margin-top: 12px;

			.prodInfo {
				@include mixins.justify_width(start, start);
				flex-direction: column-reverse;
				flex-wrap: wrap;
				gap: 2px;

				.brand {
					width: 100%;
				}

				.uid {
					width: 100%;
				}
			}

			.title {
				@include mixins.font_size_md;
				@include mixins.multi_ellipsis(variables.$fontSizeMdLineHeight);
			}

			.prodPrice {
				gap: 6px;
				margin-top: 10px;
			}

			.loanPrice {
				margin-top: 8px;

				.label {
					@include mixins.font_size_sm;
					color: variables.$textColorDG;
					margin: {
						top: 1px;
						right: 6px;
					}
				}
			}
		}
	}
}