@use 'sass:map';
@use '../../../styles/abstracts/variables';
@use '../../../styles/abstracts/mixins';

.prodItem {
	position: relative;

	.infoBox {
		.badgeGroup {
			@include mixins.justify_width;
			flex-wrap: wrap;
			gap: 4px 6px;
		}
		.prodInfo {
			.brand {}
			.uid {}
		}
		.title {}
		.sizeInfo {}
		.prodPrice {}
		.loanPrice {}
	}

	&.row {
		@include mixins.justify_width;

		.prodLank {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			font-size: 24px;
			line-height: 26px;
			color: variables.$colorGreen;
			font-family: variables.$fontEngDefault;
			letter-spacing: variables.$letterSpacing;
			font-weight: variables.$fontWeightEngBold;
		}

		&:has(.prodLank) {
			> div:not(.prodLank) {
				margin-top: 39px;
			}
		}

		.infoBox {
			position: relative;
			margin-left: 16px;

			.prodInfo {
				@include mixins.justify_width;
				gap: 4px;
				margin-bottom: 2px;

				.brand {
					@include mixins.font_size_md('sb');
					@include mixins.ellipsis;
					width: auto;
				}

				.uid {
					@include mixins.font_size_md;
					color: variables.$textColorDG;
					margin-bottom: 0;
				}
			}

			.title {
				@include mixins.font_size_sm;
				@include mixins.multi_ellipsis(variables.$fontSizeSmLineHeight);
			}

			.sizeInfo {
				margin-top: 4px;
				@include mixins.font_size_sm('md');
			}

			.prodPrice {
				@include mixins.justify_width(center);
				@include mixins.font_size_md('sb');
				gap: 4px 6px;
				flex-wrap: wrap;
				word-break: break-all;
				margin-top: 4px;

				.origin {
					width: 100%;
				}

				.percent {
					@include mixins.font_size_md('sb');
					color: variables.$textColorGold;
				}
			}

			.badgeGroup {
				&:first-child {
					margin-bottom: 4px;
				}

				&:not(:first-child) {
					margin-top: 12px;
					gap: 3px;
				}
			}
		}
	}
	&.col {
		position: relative;
		width: 100%;

		.prodLank {
			@include mixins.font_eng_size_lg();
			margin-bottom: 10px;
			color: variables.$colorGreen;
		}

		.infoBox {
			margin-top: 12px;

			.prodInfo {
				@include mixins.justify_width(start, start);
				flex-direction: column-reverse;
				flex-wrap: wrap;
				gap: 2px;
				margin-bottom: 2px;

				.uid {
					width: 100%;
					@include mixins.font_size_md;
					color: variables.$textColorDG;
				}

				.brand {
					width: 100%;
					@include mixins.font_size_md('sb');
					@include mixins.ellipsis;
				}
			}

			.title {
				@include mixins.font_size_md;
				@include mixins.multi_ellipsis(variables.$fontSizeMdLineHeight);
			}
			.sizeInfo {
				margin-top: 4px;
				@include mixins.font_size_sm('md');
			}

			.prodPrice {
				@include mixins.justify_width(center);
				@include mixins.font_size_md('sb');
				gap: 6px;
				flex-wrap: wrap;
				word-break: break-all;
				margin-top: 10px;

				.origin {
					width: 100%;
				}

				.percent {
					@include mixins.font_size_md('sb');
					color: variables.$textColorGold;
				}
			}

			.loanPrice {
				margin-top: 8px;

				.label {
					@include mixins.font_size_sm;
					color: variables.$textColorDG;
					margin: {
						top: 1px;
						right: 6px;
					}
				}
			}
		}
	}
}