@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';

%barStyle {
    display: inline-block;
    @include mixins.font_size_md;
    color: variables.$textColorDG;
    vertical-align: top;

    &:after {
        content: '';
        display: inline-block;
        width: 1px;
        height: 10px;
        margin: 5px 10px 0;
        background-color: variables.$colorGray05;
        vertical-align: top;
    }

    &:last-child {
        &:after {
            content: initial;
        }
    }
}

// bar-group
.barGroup {
	@include mixins.justify_width(center, start, row, true);
    flex-wrap: wrap;
    margin-top: 10px;

	.barText {
        @extend %barStyle;

        &Sm {
            @extend %barStyle;
            @include mixins.font_size_sm;
        }

        &Lg {
            @extend %barStyle;
            @include mixins.font_size_md('md');
            color: variables.$textColorB;
        }
    }
}