@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';

//size
.box-extraSmall {
	padding: 12px;
}
.box-small {
	padding: 16px;
}
.box-medium {
	padding: 20px;
}
.box-large {
	padding: 30px;
}

//color
.box-gray {
	background-color: variables.$colorGray06;
	border-radius: 4px;
}

.box-grayLine {
	background-color: variables.$colorWhite;
	border: 1px solid variables.$colorGray05;
	border-radius: 4px;
}

.box-white {
	background-color: variables.$colorWhite;
	border-radius: 4px;
}

.box-green {
	background-color: #EFF6F6;
	border-radius: 4px;
}

.box-red {
	background-color: #FBF5F5;
	border-radius: 4px;
}
