@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';

.box {
	&Xs {
		padding: 12px;
	}

	&Sm {
		padding: 16px;
	}

	&Md {
		padding: 20px;
	}

	&Lg {
		padding: 30px;
	}

	&Gray {
		background-color: $colorGray06;
		border-radius: 4px;
	}

	&GrayLine {
		background-color: $colorWhite;
		border: 1px solid $colorGray05;
		border-radius: 4px;
	}

	&White {
		background-color: $colorWhite;
		border-radius: 4px;
	}

	&Green {
		background-color: #EFF6F6;
		border-radius: 4px;
	}

	&Red {
		background-color: #FBF5F5;
		border-radius: 4px;
	}
}