@use 'sass:map';
@use '../abstracts/variables' as *;
@use '../abstracts/mixins';

.tooltipWrap {
	position: relative;
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: top;

	.btnTooltip {
		display: inline-block;
		width: 16px;
		height: 16px;
		vertical-align: top;

		.icoTooltip {
			display: inline-block;
			width: 16px;
			height: 16px;
			vertical-align: top;
		}
	}

	.tooltipBox {
		display: block;
		position: absolute;
		top: 16px;


		&.left {}
		&.right {}
	}
}