@use 'sass:map';
@use '../abstracts/variables' as *;
@use '../abstracts/mixins';

// colors
.fcSpot {
	color: $colorGreen !important;
}
.fcRed {
	color: $colorRed !important;
}
.fcBlack {
	color: $colorBlack !important;
}
.fcDarkGray {
	color: $textColorDG !important;
}
.fcGray {
	color: $textColorG !important;
}
.fcWhite {
	color: $colorWhite !important;
}
.fcSell {
	color: $colorSell !important;
}
.fcBand {
	color: $colorBand !important;
}

// font weight
.fwLt {
	font-weight: $fontWeightLight !important;
}
.fwMd {
	font-weight: $fontWeightMedium !important;
}
.fwSb {
	font-weight: $fontWeightSemibold !important;
}

// text align
.taLeft {
	text-align: left !important;
}
.taCenter {
	text-align: center !important;
}
.taRight {
	text-align: right !important;
}

// ellipsis
.multiEllipsis {
	@include mixins.multi_ellipsis($fontSizeSmLineHeight);
	font-weight: inherit;
}

// stext
%textBreak {
	@include mixins.word_break;
}

.stextSm { //13px
	color: $textColorDG;
	@include mixins.font_size_sm('body');
	@extend %textBreak;
}
.stextSmBlack { //13px - B
	width: 100%;
	color: $textColorB;
	@include mixins.font_size_sm('body');
	@extend %textBreak;
}
.stextSmSpot { //13px - Green
	width: 100%;
	color: $textColorPoint;
	@include mixins.font_size_sm;
	@extend %textBreak;
}
.stextSmRed { //13px - red - bold
	width: 100%;
	color: $textColorRed;
	@include mixins.font_size_sm('md');
	@extend %textBreak;
}
.stext { // 14px
	color: $textColorDG;
	@include mixins.font_size_md('body');
	@extend %textBreak;
}
.stextBlack { //14px - B
	color: $textColorB;
	@include mixins.font_size_md('body');
	@extend %textBreak;
}
.stextBold { //14px - B - bold
	color: $textColorB;
	@include mixins.font_size_md('md');
	@extend %textBreak;
}
.stextLg { // 16px
	width: 100%;
	@include mixins.font_size_xl;
	@extend %textBreak;
}