@use 'sass:map';
@use '../../../styles/abstracts/variables';
@use '../../../styles/abstracts/mixins';

// chkRdoList
.chkRdoList {
	&Sm, &Md {
		&.colType {
			@include mixins.justify_width(start, center,column);

			.item {
				width: 100%;
			}
		}
		&.rowType {
			@include mixins.justify_width(center, start);
			flex-wrap: wrap;
			row-gap: 14px;
		}

		&.taTop {
			.uiChk, .uiRdo {
				input {
					+ label {
						&:before {
							top: 0;
							transform: initial;
						}
					}
				}
			}
			.uiChk {
				input {
					+ label {
						&:after {
							top: 0;
							transform: initial;
						}
					}
				}
			}

			.uiRdo {
				input {
					+ label {
						&:after {
							top: 7px;
							transform: initial;
						}
					}
				}
			}
		}
	}
	&Sm {
		gap: 14px
	}
	&Md {
		gap: 24px
	}
}