@use 'sass:map';
@use '../abstracts/variables';
@use '../abstracts/mixins';

// ===============================
// BarGroup
// ===============================
.dotText, .dotTextRed, .dotTextLg,
.dashText, .dashTextSm, .dashTextLg, .dashTextGray,
.decimalText {
	position: relative;
	display: block;
	@include mixins.word_break;
}

%dotText {
	padding-left: 8px;

	&:before {
		display: block;
		position: absolute;
		left: 0;
		content: '';
		top: 8px;
		width: 2px;
		height: 2px;
		border-radius: 2px;
	}

	.flexInfoWrap {
		.stextBlack {
			margin-right: 15px;
		}
	}

	.fcRed {
		font-weight: inherit;
	}
}

%dashText {
	padding: {
		left: 8px;
	}

	&:before {
		display: block;
		position: absolute;
		left: 0;
		content: '-';
		top: 0;
	}
}

%udlText {
	display: inline-block;
	text-decoration: underline;
	@include mixins.word_break;
	vertical-align: top;
}


// dot-text
.dotText {
	@extend %dotText;
	color: variables.$textColorDG;
	@include mixins.font_size_sm;

	&:before {
		background-color: variables.$textColorDG;
	}

	&Lg {
		@extend %dotText;
		@include mixins.font_size_md;

		&:before {
			background-color: variables.$colorBlack;
		}
	}

	&Red {
		@extend %dotText;
		color: variables.$textColorRed;
		@include mixins.font_size_sm;

		&:before {
			background-color: variables.$textColorRed;
		}
	}
}

// dash-text
.dashText {
	@extend %dashText;
	@include mixins.font_size_sm;

	&Sm {
		@extend %dashText;
		@include mixins.font_size_xs;
	}

	&Lg {
		@extend %dashText;
		@include mixins.font_size_md;
	}

	&Gray {
		@extend %dashText;
		@include mixins.font_size_sm;
		color: variables.$textColorDG;
	}
}

// decimal-text
.decimalText {
	padding-left: 15px;
	font-weight: variables.$fontWeightLight;
	color: variables.$textColorDG;
	text-indent: -15px;
}

// udl-text
.udlText {
	@extend %udlText;
	@include mixins.font_size_sm;
	color: variables.$textColorDG;

	&Black {
		@extend %udlText;
		@include mixins.font_size_sm;
		color: variables.$textColorB;
		font-weight: variables.$fontWeightMedium;
	}

	&Lg {
		@extend %udlText;
		@include mixins.font_size_md;
		color: variables.$textColorDG;

		&Black {
			@extend %udlText;
			@include mixins.font_size_md;
			color: variables.$textColorB;
		}
	}
}

// ===============================
// BarGroup
// ===============================
%barStyle {
	display: inline-block;
	@include mixins.font_size_md;
	color: variables.$textColorDG;
	vertical-align: top;

	&:after {
		content: '';
		display: inline-block;
		width: 1px;
		height: 10px;
		margin: 5px 10px 0;
		background-color: variables.$colorGray05;
		vertical-align: top;
	}

	&:last-child {
		&:after {
			content: initial;
		}
	}
}

.barGroup {
	@include mixins.justify_width(center, start, row, true);
	flex-wrap: wrap;

	.barText {
		@extend %barStyle;

		&Sm {
			@extend %barStyle;
			@include mixins.font_size_sm;
		}

		&Lg {
			@extend %barStyle;
			@include mixins.font_size_md('md');
			color: variables.$textColorB;
		}
	}

	&:not(:first-child) {
		margin-top: 10px;
	}
}