@use 'sass:map';
@use '../../../styles/abstracts/variables';
@use '../../../styles/abstracts/mixins';

.wrapper {
	@include mixins.size_wrap_width;
	background: variables.$colorWhite;
	min-height: var(--reVh, 1vh);
	padding-bottom: calc(#{variables.$dockerHeight} + env(safe-area-inset-bottom));

	.skipNav {
		position: absolute;
		font-size: 0;
		left: 0;
		right: 0;
		top: 0;
		z-index: 1000;

		a {
			position: absolute;
			display: inline-block;
			color: variables.$colorWhite;
			width: 100%;
			padding: 10px;
			background: variables.$colorBlack;
			text-align: center;
			font-size: variables.$fontSizeSm;
			left: 0;
			right: 0;
			top: 0;
			box-sizing: border-box;

			&:not(:focus) {
				@include mixins.prefix(transform, translateY(-100%));
			}
		}
	}
	.containerWrapper {
		.contentWrapper {}
	}

	&.main {
		.containerWrapper {
			margin-top: -110px;
		}
	}

	&.noDocker {
		padding-bottom: 0;

		.containerWrapper {
			padding-bottom: env(safe-area-inset-bottom);
			.contentWrapper {
				.content-wrap.full {
					min-height: calc(var(--reVh, 1vh) - #{variables.$headerHeight});

					.tab-line-wrap {
						.tab-content {
							min-height: calc(100% - 50px);
						}
					}
				}
			}
		}
	}
}
